MNEMONIC=''

# Per chain setup: {rpcUrl, prefix, gasprice, validatorAddress, validatorOperatorAddress}

# chihuahua1c0eq257x5qlf34nr0cu7utfcarc37h6rqq07s3
CHAIN_SETUPS='[{"rpcUrl":"https://ww-terra-rpc.polkachu.com", "prefix":"terra","gasprice":"0.015uluna", "validatorAddress": "terravaloper1wr0p7dzss74wfmzfqm8r65mk26efg5zhzpm77s", "operatorAddress":"terra1wr0p7dzss74wfmzfqm8r65mk26efg5zhzwhrwr"},
{"rpcUrl":"https://ww-juno-rpc.polkachu.com", "prefix":"juno", "gasprice":"0.0025ujuno", "validatorAddress":"junovaloper1dfeenydr9f2vggp8m7jpalvy8jv7fdndncedrm", "operatorAddress":"juno1dfeenydr9f2vggp8m7jpalvy8jv7fdndv90zcz"},
{"rpcUrl":"https://ww-chihuahua-rpc.polkachu.com", "prefix":"chihuahua","gasprice":"1uhuahua", "validatorAddress": "chihuahuavaloper15tnycxe9csn7mkul4vvlyxlkd9jyqlw4q80nmy", "operatorAddress":"chihuahua15tnycxe9csn7mkul4vvlyxlkd9jyqlw4ns0wgc"},
{"rpcUrl":"https://rpc.mars.kingnodes.com:443", "prefix":"mars","gasprice":"0umars", "validatorAddress": "marsvaloper1tyl7jeyv90s53kjt9rs6dxajyf57pngjk7j7pd", "operatorAddress":"mars1tyl7jeyv90s53kjt9rs6dxajyf57pngjzjwt9g"}]'